@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* s : common */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  width: 1920px;
  font-family: "GongGothicLight";
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#c5f0fa, #396a75);
  border-radius: 100px;
}

::selection {
  background: #396a75;
  color: #fff;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-family: "GongGothicLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root,
#app {
  isolation: isolate;
}

ul,
ol,
li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #346872);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

#main {
  width: 95%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.sec {
  height: auto;
  position: relative;
  overflow: hidden;
}

/* e : common */
/* s : header */
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #396a75;
  border-bottom: 5px solid rgb(18, 55, 63);
  z-index: 99;
}

header .inner {
  display: flex;
  justify-content: space-between;
}

header .top_txt {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top_txt span {
  font-size: 20px;
  color: #fff;
  letter-spacing: 5px;
}

header nav {
  width: auto;
  height: 100%;
}

header nav ul {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li {
  margin-left: 50px;
}

header nav ul li a {
  text-align: center;
  transition: all 0.3s;
  color: #fff;
}

header nav ul li a:hover {
  letter-spacing: 5px;
  font-style: italic;
}

header > nav > ul > li > a.on {
  letter-spacing: 5px;
  font-style: italic;
  color: #c5f0fa;
}
/* e : header */
/* s: section1 */
#main .sec1 {
  height: 100vh;
  position: relative;
  border-bottom: 2px dashed #eee;
}

#main .sec1::after {
  content: "";
  width: 600px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px dashed #eee;
}

#main .sec1 .inner {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#main .sec1 .content {
  width: 100%;
  height: 100%;
}

#main .sec1 .content > ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}

#main .sec1 .content > ul > li {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#main .sec1 .txt {
  width: 100%;
  height: auto;
  position: relative;
}

#main .sec1 .content ul li:nth-child(1) .txt1::before {
  content: "WEB PRIORITY";
  position: absolute;
  right: 80px;
  top: 20px;
  font-size: 20px;
  letter-spacing: 10px;
}

#main .sec1 .code {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  right: 32%;
  top: 230px;
  transform: translateX(-32%);
  background: url("../assets/main_kakao.jpg") center center/cover no-repeat;
}

#main .sec1 .txt h2 {
  font-size: 20px;
  padding: 20px 0;
}

#main .sec1 .txt1 span {
  font-size: 15px;
  color: #888;
  margin: 0 20px;
}

#main .sec1 .txt1 .wrap ul {
  display: flex;
  gap: 0 40px;
}

#main .sec1 .txt1 .wrap ul li {
  display: flex;
  align-items: center;
  gap: 0 20px;
  border: 2px solid #222;
  width: 400px;
  height: 60px;
  border-radius: 100px;
}

#main .sec1 .txt1 .wrap ul li h2 {
  font-size: 20px;
}

#main .sec1 .txt1 p {
  font-size: 16px;
  padding: 25px 0;
  letter-spacing: 2px;
}

#main .sec1 .txt2 h2 {
  height: 60px;
  font-size: 25px;
  font-weight: 200;
}

#main .sec1 .txt2 h2 b {
  font-size: 37px;
  font-weight: 200;
  color: #396a75;
}

#main .sec1 .txt2 p {
  font-size: 20px;
  line-height: 1.5;
  color: #888;
  letter-spacing: 1px;
}

#main .sec1 .txt2 p b {
  color: #333;
}

#main .sec1 .content > ul > li:nth-child(2) {
  padding: 0 20px;
}

#main .sec1 .content > ul > li:nth-child(2) .txt1 {
  padding-bottom: 80px;
}

#main .sec1 .content ul li:nth-child(2) .txt1 .wrap {
  margin-top: 30px;
}

#main .sec1 .content ul li:nth-child(2) .txt1 .wrap ul li {
  width: 230px;
  font-size: 16px;
  position: relative;
}

#main .sec1 .content ul li:nth-child(2) .txt1 .wrap ul li:nth-child(1)::after {
  content: "WINDOW";
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: #888;
  position: absolute;
  left: 100px;
  bottom: -60px;
}

#main .sec1 .content ul li:nth-child(2) a {
  font-size: 18px;
  transition: all 0.5s;
  position: inherit;
  z-index: 99;
  color: #888;
  position: relative;
}

#main .sec1 .content ul li:nth-child(2) a::before {
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -3px;
  background: #396a7571;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}

#main .sec1 .content ul li:nth-child(2) a b {
  font-size: 30px;
  display: block;
  color: #111;
}

#main .sec1 .content ul li:nth-child(2) a:hover {
  color: #396a75;
}

#main .sec1 .content ul li:nth-child(2) a:hover::before {
  width: 75%;
  left: 0;
  opacity: 1;
}
/* e: section1 */
/* s: section2 */
#main .sec2 {
  height: 100vh;
  position: relative;
}

#main .sec2 .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#main .sec2 .wrap ul {
  display: flex;
  gap: 0 100px;
  justify-content: center;
}

#main .sec2 .wrap ul li:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#main .sec2 .wrap ul li:nth-child(2) span {
  display: inline-block;
  font-size: 15px;
  color: #396a75;
  line-height: 1.5;
  margin: 15px;
}

#main .sec2 .wrap ul li:nth-child(2) span b {
  color: #222;
  font-size: 21px;
  line-height: 2;
}

#main .sec2 .wrap ul li .img {
  display: block;
  width: 330px;
  height: 330px;
  border-radius: 60px;
  background: #333 url("../assets/main_profile.jpg") center center/cover
    no-repeat;
  border: 1px solid #eee;
}
/* e: section2 */
