@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* s : common */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#c5f0fa, #396a75);
  border-radius: 100px;
}

::selection {
  background: #396a75;
  color: #fff;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-family: "GongGothicLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root,
#app {
  isolation: isolate;
}

ul,
ol,
li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #346872);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}
/* e : common */
/* s : header */
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #396a75;
  border-bottom: 5px solid rgb(18, 55, 63);
  z-index: 99;
}
header .inner {
  display: flex;
  justify-content: space-between;
}
header .top_txt {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top_txt span {
  font-size: 20px;
  color: #fff;
  letter-spacing: 5px;
}
header nav {
  width: auto;
  height: 100%;
}
header nav ul {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li {
  margin-left: 50px;
}
header nav ul li a {
  text-align: center;
  transition: all 0.3s;
  color: #fff;
}
header nav ul li a:hover {
  letter-spacing: 5px;
  font-style: italic;
}
header > nav > ul > li > a.on {
  letter-spacing: 5px;
  font-style: italic;
  color: #c5f0fa;
}
/* e : header */
